<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Farmer's Exchange</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="/css/homestyle.css" />
</head>

<body>

  <header>
    <h2><a href="/"></i>
        Farmer Exchange</a></h2>
    <nav>
      <ul>

        <li>
          <a href="/">Home</a>
        </li>
        {{#if loggedIn}}
        <li>
          <a href='/addPost'>Add Sale</a>
        </li>
        <li>
          <a href='/profile'>Profile</a>
        </li>
        <li>
          <button id="logout" class="btn-no-style">Logout</button>
        </li>
        {{else}}
        <li>
          <a href="/login">New User</a>
        </li>
        {{/if}}
        </li>
      </ul>
    </nav>
  </header>


  {{{body}}}

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
{{#if loggedIn}}
<script src="/js/logout.js"></script>
{{/if}}

</html>