<figure class="background">

  <header>
    <h1 class="header">Create a new account</h1>
    <h2 class="welcome">We are so exited to have you !!!</h2>
  </header>

  <div class="row">
    <div class="login card text-center justify-content-center border-success mt-5 d-flex"
      style="width: 40rem; margin: 0 auto">
      <div class="card-body">
        <h5 class="card-title">User Login</h5>
        <div class="input-group input-group-sm">
          <span class="input-group-text mb-1" id="user-name inputGroup-sizing-sm">User Name</span>
          <input type="text" class="form-control mb-1" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-lg">
        </div>
        <div class="input-group input-group-sm">
          <span class="input-group-text mb-1" id="location inputGroup-sizing-sm">Location</span>
          <input type="text" class="form-control mb-1" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-lg">
        </div>
        <div class="input-group input-group-sm">
          <span class="input-group-text mb-1" id="business inputGroup-sizing-sm">Business</span>
          <input type="text" class="form-control mb-1" placeholder="type N/A if not a business"
            aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        </div>
        <div class="input-group input-group-sm">
          <span class="input-group-text mb-1" id="email inputGroup-sizing-sm">Email</span>
          <input type="text" class="form-control mb-1" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-lg">
        </div>
        <div class="input-group input-group-sm">
          <span class="input-group-text mb-1" id="password inputGroup-sizing-sm">Password</span>
          <input type="text" class="form-control mb-1" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-lg">
        </div>
        <div class="input-group input-group-sm">
          <span class="input-group-text mb-1" id="password-confirm inputGroup-sizing-sm">Password Confirm</span>
          <input type="text" class="form-control mb-1" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-lg">
        </div>
        <a href="#" class="new-account btn btn-primary mt-3">submit</a>
      </div>
    </div>
  </div>
</figure>