<figure class="background">

  {{!-- <header>
    <h1 class="header">Create a new account</h1>
    <h2 class="welcome">We are so exited to have you !!!</h2>
  </header> --}}

  <div class="row">
    <div class="login card text-center justify-content-center border-success mt-5 d-flex"
      style="width: 40rem; margin: 0 auto">
      <div class="card-body">
        <form>
        <h5 class="card-title">Create a new account</h5>
        <div class="input-group input-group-sm">
          <span class="input-group-text mb-1 inputGroup-sizing-sm" >User Name</span>
          <input type="text" class="form-control mb-1" aria-label="Sizing example input" id="user-name"
            aria-describedby="inputGroup-sizing-lg">
        </div>
        <div class="input-group input-group-sm">
          <span class="input-group-text mb-1 inputGroup-sizing-sm" >Location</span>
          <input type="text" class="form-control mb-1" aria-label="Sizing example input" id="location"
            aria-describedby="inputGroup-sizing-lg">
        </div>
        <div class="input-group input-group-sm">
          <span class="input-group-text mb-1 inputGroup-sizing-sm" >Business</span>
          <input type="text" class="form-control mb-1" placeholder="type N/A if not a business" id="business"
            aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        </div>
        <div class="input-group input-group-sm">
          <span class="input-group-text mb-1 inputGroup-sizing-sm" >Email</span>
          <input type="text" class="form-control mb-1" aria-label="Sizing example input" id="email"
            aria-describedby="inputGroup-sizing-lg">
        </div>
        <div class="input-group input-group-sm">
          <span class="input-group-text mb-1 inputGroup-sizing-sm" >Password</span>
          <input type="text" class="form-control mb-1" aria-label="Sizing example input" id="password"
            aria-describedby="inputGroup-sizing-lg">
        </div>
        <div class="input-group input-group-sm">
          <span class="input-group-text mb-1 inputGroup-sizing-sm" >Password Confirm</span>
          <input type="text" class="form-control mb-1" aria-label="Sizing example input" id="password-confirm"
            aria-describedby="inputGroup-sizing-lg">
        </div>
        <a href="#" class="sign-in btn btn-primary mt-3">submit</a>
      </div>
      </form>
    </div>
  </div>
</figure>
<script src="/js/newuser.js"></script>