/* .background {
    background: url(../images/farm3.jpeg) no-repeat center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.header{
    text-align: center;
    font-size: 80px;
    margin-top: 30px;
}

.welcome {
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
} */