<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/homestyle.css" />
    <title>FARMER-EXCHANGE</title>
</head>

<body>

    <figure class="background">

        <header>
            <h1 class="header">&#x1F966 Farmer Exchange &#x1F34E</h1>
        </header>

        <section class="welcome-statement">
            <p id="welcome">Welcome to Farmer Exchange</p>
            <p id="buy-sell">Buy, sell or trade locally grown fresh produce</p>
        </section>

        <div class="row">
            <div class="login card text-center justify-content-around border-success"
                style="width: 30rem; margin: 0 auto">
                <div class="card-body">
                    <h5 class="card-title">User Login</h5>
                    <div class="input-group input-group-sm">
                        <span class="input-group-text mb-1" id="inputGroup-sizing-sm">Email</span>
                        <input type="text" class="form-control mb-1" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-lg">
                    </div>
                    <div class="input-group input-group-sm">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Password</span>
                        <input type="text" class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-lg">
                    </div>
                    <a href="#" class="btn btn-primary mt-3">log in</a>
                </div>
            </div>
    </figure>


</body>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>

</html>